/* Color Theme Swatches in Hex */
$navy: #1d506f;
$teal: #44878c;
$green: #37736a;
$mint: #89bfac;
$yellow: #d7cc8e;

$white: #fff;
$black: #222;
$gray: #eaeaea;
$lt-gray: #f8f8f8;
$links: #615fcd;

/* Color Theme Swatches in RGBA */
$Green-Polygon-1-rgba: rgba(29, 80, 111, 1);
$Green-Polygon-2-rgba: rgba(68, 135, 140, 1);
$Green-Polygon-3-rgba: rgba(55, 115, 106, 1);
$Green-Polygon-4-rgba: rgba(137, 191, 172, 1);
$Green-Polygon-5-rgba: rgba(215, 204, 142, 1);

/* Color Theme Swatches in HSLA */
$Green-Polygon-1-hsla: hsla(202, 58, 27, 1);
$Green-Polygon-2-hsla: hsla(184, 34, 40, 1);
$Green-Polygon-3-hsla: hsla(171, 35, 33, 1);
$Green-Polygon-4-hsla: hsla(158, 29, 64, 1);
$Green-Polygon-5-hsla: hsla(50, 47, 70, 1);
